<link rel="stylesheet" type="text/css" href="/css/post.css">
<script src="/js/post.js"></script>
<h1 class="userpost-title">{{post.title}}</h1>
<div class="userpost-container">
    <!-- User Info -->
    <div class="op-info">
        <div class="op-info-container">
            <div class="op-pfp">
                <img src="/img/{{user.pfpURL}}" class="op-pfp">
            </div>
            <div class="op-username"><a href="/user/{{post.user}}">{{post.user}}</a></div>
            <div class="op-marker">ORIGINAL POSTER</div>

            <div class="op-row">
                <div class="op-row-label">JOINED</div>
                <div id="join-date">{{user.createdAt}}</div>
            </div>
            <div class="op-row">
                <div class="op-row-label">PRONOUNS</div>
                <div id="gender">{{user.pronouns}}</div>
            </div>
        </div>
    </div>

    <!-- Main Post -->
    <div class="userpost">
        <div class="userpost-content">
            {{{post.content}}}
        </div>
        <div class="userpost-footer">
            <div class="userpost-points">
                <button id="upvote" class="vote">
                    <i class="fa fa-thumbs-up"></i>
                </button> | 
                <button id="downvote" class="vote">
                    <i class="fa fa-thumbs-down"></i>
                </button>
                 {{post.points}} points</div>
            <div class="userpost-date">{{post.timePosted}}</div>
        </div>
    </div>
</div>

<div class="comment-container">
    <!-- User Info -->

    {{#each commenters}}
        <div class="op-info">
            <div class="op-info-container">
                <div class="op-pfp">
                    <img src="/img/{{pfpURL}}" width="100">
                </div>
                <div class="op-username"><a href="/user/{{user}}">mco_taker</a></div>

                <div class="op-row">
                    <div class="op-row-label">JOINED</div>
                    <div id="join-date">{{createdAt}}</div>
                </div>
                <div class="op-row">
                    <div class="op-row-label">PRONOUNS</div>
                    <div id="gender">{{pronouns}}</div>
                </div>
            </div>
        </div>
    {{/each}}

    {{#each comments}}
        <div class="comment">
            <div class="comment-content">
                {{content}}
            </div>
            <div class="comment-footer">
                <div class="comment-points"><i class="fa fa-thumbs-up"> | </i> <i class="fa fa-thumbs-down"></i> {{points}} points</div>
                <div class="comment-date">{{timePosted}}</div>
            </div>
        </div>
    {{/each}}
</div>

<!-- Create comment form -->
{{#if authenticated}}
    {{> createComment}}
    {{else}}
    <div class="comment-notlogged"><a href="#login">Log in</a> or <a href="#register">register</a> to post a comment!</div>
{{/if}}

<!-- delete post button -->
<div class="delete-post-button">
    <a href="/delete/{{post._id}}" onclick="return confirm('Are you sure you want to delete this post?');">Delete Post</a>
</div>
